{% extends "template.html" %}

{% block body %}
<div class="container well">
  <h2>Add Idea</h2>
  {% if error %}
    <div>
      {{error}}
    </div>
  {% endif %}
  <form role="form" action="{{ url_for('add_idea') }}" method="POST">
  	<div class="row">
  		<div class="col-sm-4 column">
 	 	  {{ add_form.name (placeholder="Idea Name", class="form-control") }}
 		</div>
  	</div>
    <br>
    <div class="row">
    	<div class="col-sm-8 column">
   	  	  {{ add_form.desc (placeholder="Description...", class="form-control") }}
   	  	</div>
   	</div>
    <br>
    {{ add_form.csrf_token }}
    <br>
    <button type="submit" value="Sign Up" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}