{% extends "template.html" %}

{% block body %}
<div class="container well">
  <h2>Login to ThoughtHub</h2>
  {% if error %}
    <div>
      {{error}}
    </div>
  {% endif %}
  <form role="form" action="{{ url_for('login') }}" method="POST">
    {% if login_form.errors['email'] %}
      <strong> *{{ login_form.errors['email'][0] }}</strong>
    {% endif %}
    {{ login_form.email (placeholder="Enter your email", class="form-control")}}
    <br>
    {% if login_form.errors['password'] %}
      <strong> *{{ login_form.errors['password'][0] }}</strong>
    {% endif %}
    {{ login_form.password (placeholder="Enter your password", class="form-control")}}
    <br>
    {{ login_form.csrf_token }}
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}